<!DOCTYPE html>
<html>
	<head>
		<title>NPS Kiosk: Find by Designation</title>

    <style>
			input[type=text] {
				width: 300px;
			}

      .card-img-top {
        max-height: 160px;
        min-height: 160px;
        object-fit: cover;
      }

      .top-buffer {
        margin-top: 20px;
      }

      a.custom-card,
      a.custom-card:hover {
        color: inherit;
      }
    </style>

    <!-- Do this for ajax (state-results.js in assets) -->
    <!-- <script src="/../../assets/state-results.js"></script> -->

		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	</head>

	<body>
    <div id="top" />

		<% include partials/nav.ejs %>

    <div class="container">
      <div class="row">
        <div class="col py-3 my-3">
          <h2 class="display-4">Find a park by designation: <%= data.designation %></h2>

					<!-- Dropdown search functional -->
					<div class="input-group">
						<form id="selectDesig" method="POST" action="/find-by-designation">
							<input type="text" name="designation" list="desigNames">
								<datalist id="desigNames">
									<option value="Cultural Heritage Corridor" />
									<option value="Heritage Area" />
									<option value="National and State Parks" />
									<option value="National Battlefield" />
									<option value="National Geologic Trail" />
									<option value="National Heritage Area" />
									<option value="National Heritage Corridor" />
									<option value="National Historic Site" />
									<option value="National Historic Trail" />
									<option value="National Historical Park" />
									<option value="National Historical Park and Ecological Preserve" />
									<option value="National Memorial" />
									<option value="National Military Park" />
									<option value="National Monument" />
									<option value="National Park" />
									<option value="National Park & Preserve" />
									<option value="National Preserve" />
									<option value="National Recreation Area" />
									<option value="National Scenic River" />
									<option value="National Scenic Riverway" />
									<option value="National Scenic Riverways" />
									<option value="National Seashore" />
									<option value="Parkway" />
									<option value="Part of Colonial National Historical Park" />
									<option value="Scenic & Recreational River" />
									<option value="Wild & Scenic River" />
									<option value="Other" />
								</datalist>
							<button class="btn btn-outline-secondary" type="submit">Search</button>
						</form>
					</div>
        </div>
      </div>
		</div>

		<div class="container text-muted">
      <% var matches = []; %>
      <% for (var i=0; i < parkInfo.length; i++) {
          if (parkInfo[i].designation == data.designation) {
            matches.push(parkInfo[i]);
          }
					else if ((parkInfo[i].designation == "") && (data.designation == "Other")) {
						matches.push(parkInfo[i]);
					}
      } %>

      <% var col = 0; %>
      <% var counter = 0; %>
      <% for (var i=0; i < (matches.length/4) + 1; i++) { %>
        <div class="row top-buffer">
          <% if (matches.length == 0) { %>
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch">
              <p class="lead">No results found.</p>
            </div>
          <% } %>
          <% for (var j=0; j < 4; j++) {
            counter++;
            if (counter > matches.length) break;
          %>
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch">
						<a href="/parks/<%=encodeURI(matches[counter-1].parkCode)%>" class="custom-card d-flex align-items-stretch">
            	<div class="card">
                <% var image = "" + matches[counter-1].images[0].url; %>
                <img src="<%=encodeURI(image)%>" class="card-img-top img-fluid" height="250" id="cardImage"/>

                <div class="card-body">
                  <h3 class="card-title"><%= matches[counter-1].fullName %></h3>
                  <p> <%= matches[counter-1].addresses[0].city %>, <%= matches[counter-1].addresses[0].stateCode %></p>
                </div>
              </div>
						</a>
          </div>
        <% } %>
        </div>
      <% } %>

		</div>

    <div class="container py-5">
      <div class="row justify-content-center">
        <a href="#top">
          <button type="button" class="btn btn-outline-dark">Back to top</button>
        </a>
      </div>
    </div>

		<!-- JQuery, Tether, Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<script>
			S(function () {
				S('[data-toggle="tooltip"]').tooltip();
			});
		</script>
	</body>
</html>
