<!DOCTYPE html>
<html>
	<head>
    <%
    var thisPark = parkInfo[0];
    for (var i=0; i<parkInfo.length; i++) {
      if (parkInfo[i].parkCode == code) {
        thisPark = parkInfo[i];
        break;
      }
    }
    %>

		<title><%= thisPark.fullName %></title>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<style>
			button.custom-card,
			button.custom-card:hover {
				color: inherit;
			}

			a.custom-card,
			a.custom-card:hover {
				color: inherit;
			}
		</style>

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	</head>

	<body>
    <% include partials/nav.ejs %>

		<div class="container text-muted">
			<div class="text-center py-4 my-4">
				<h2 class="display-4 text-center"><strong><%= thisPark.fullName %></strong></h2>
				<h3 class="lead text-center"><strong><%= thisPark.addresses[0].city %>, <%= thisPark.states %></strong></p>
				<p class="lead text-center"><%= thisPark.description%></p>
				<% var image = "" + thisPark.images[0].url; %>
				<img src="<%=encodeURI(image)%>" height="500" width="1000" class="py-3"/>
			</div>

			<nav class="nav justify-content-center nav-pills flex-column flex-md-row">
				<a class="nav-link active" href="#info" data-toggle="tab">Info</a>
				<a class="nav-link" href="#alerts" data-toggle="tab">Alerts</a>
				<a class="nav-link" href="#articles" data-toggle="tab">Articles</a>
				<a class="nav-link" href="#events" data-toggle="tab">Events</a>
				<a class="nav-link" href="#news" data-toggle="tab">News</a>
				<a class="nav-link" href="#lesson" data-toggle="tab">Learn</a>
			</nav>

			<div class="tab-content py-5">
				<div class="tab-pane active" id="info">
					<h3>Park Information</h3>
					<p><strong>Phone:</strong> <%= thisPark.contacts.phoneNumbers[0].phoneNumber%></p>
					<p><strong>Email:</strong> <%= thisPark.contacts.emailAddresses[0].emailAddress%></p>
					<p><strong>Address:</strong> <%= thisPark.addresses[0].line1%>, <%= thisPark.addresses[0].city%>, <%= thisPark.addresses[0].stateCode%> <%= thisPark.addresses[0].postalCode%></p>
					<p>Directions to this park can be found <a href="<%=thisPark.directionsUrl%>" class="custom-card"><strong><u>here</strong></u></a>.</p>
					<p>Park website can be found <a href="<%=thisPark.url%>" class="custom-card"><strong><u>here</strong></u></a>.</p>

				</div>

				<div class="tab-pane" id="alerts">
					<h3>Alerts</h3>

						<% var alerts = [];
						for (var i=0; i<alertInfo.length; i++) {
							if (thisPark.parkCode == alertInfo[i].parkCode) {
								alerts.push(alertInfo[i]);
							}
						}

						if (alerts.length == 0) { %>
							<p>There are currently no alerts for this park.</p>
						<% }
						else { %>
							<% for (var j=0; j<alerts.length; j++) { %>
								<div class="alert alert-light" role="alert">
									<% if (alerts[j].category == "") {
											if (alerts[j].url == "") { %>
												<h5><strong><%= alerts[j].title%></strong></h5>
											<% }
											else { %>
												<h5><a href="<%= alerts[j].url%>" class="alert-link"><u><%= alerts[j].title%></u></a></h5>
											<% } %>
									<% }

									else if (alerts[j].category == "Park Closure") {
										if (alerts[j].url == "") { %>
											<h5 class="text-info"><strong><%= alerts[j].category%>: <%= alerts[j].title%></strong></h5>
										<% }
										else { %>
											<h5><a href="<%= alerts[j].url%>" class="alert-link text-info"><u><%= alerts[j].category%>: <%= alerts[j].title%></u></a></h5>
										<% } %>
									<% }

									else if (alerts[j].category == "Information") {
										if (alerts[j].url == "") { %>
											<h5 class="text-success"><strong><%= alerts[j].category%>: <%= alerts[j].title%></strong></h5>
										<% }
										else { %>
											<h5><a href="<%= alerts[j].url%>" class="alert-link text-success"><u><%= alerts[j].category%>: <%= alerts[j].title%></u></a></h5>
										<% } %>
									<% }

									else if (alerts[j].category == "Caution") {
										if (alerts[j].url == "") { %>
											<h5 class="text-warning"><strong><%= alerts[j].category%>: <%= alerts[j].title%></strong></h5>
										<% }
										else { %>
											<h5><a href="<%= alerts[j].url%>" class="alert-link text-warning"><u><%= alerts[j].category%>: <%= alerts[j].title%></u></a></h5>
										<% } %>
									<% }

									else if (alerts[j].category == "Danger"){
										if (alerts[j].url == "") { %>
											<h5 class="text-danger"><strong><%= alerts[j].category%>: <%= alerts[j].title%></strong></h5>
										<% }
										else { %>
											<h5><a href="<%= alerts[j].url%>" class="alert-link text-danger"><u><%= alerts[j].category%>: <%= alerts[j].title%></u></a></h5>
										<% } %>
									<% }

									else {
										if (alerts[j].url == "") { %>
											<h5><strong><%= alerts[j].category%>: <%= alerts[j].title%></strong></h5>
										<% }
										else { %>
											<h5><a href="<%= alerts[j].url%>" class="alert-link"><u><%= alerts[j].category%>: <%= alerts[j].title%></u></a></h5>
										<% } %>
									<% } %>
									<p><%= alerts[j].description%></p>
								</div>
							<% } %>
						<% } %>
				</div>
				<div class="tab-pane" id="articles">
					<h3>Articles</h3>
					<% var articles = [];
					for (var i=0; i<articleInfo.length; i++) {
						if (JSON.stringify(articleInfo[i]).includes(thisPark.name)) {
							articles.push(articleInfo[i]);
						}
					}

					if (articles.length == 0) { %>
						<p>There are currently no articles for this park.</p>
					<% }
					else { %>
					<ul>
						<% for (var j=0; j<articles.length; j++) { %>
							<li><a href="<%=encodeURI(articles[j].url)%>" class="custom-card"><strong><u><%= articles[j].title%></strong></u></a></li>
							<p><%= articles[j].listingdescription%></p>
						<% } %>
					</ul>
					<% } %>
				</div>
				<div class="tab-pane" id="events">
					<h3>Events</h3>
					<% var events = [];
					for (var i=0; i<eventInfo.length; i++) {
						if (JSON.stringify(eventInfo[i]).includes(thisPark.name)) {
							events.push(eventInfo[i]);
						}
					}

					if (events.length == 0) { %>
						<p>There are currently no events for this park.</p>
					<% }
					else { %>
					<ul>
						<% for (var j=0; j<events.length; j++) { %>
							<li><a href="<%=encodeURI(events[j].infourl)%>" class="custom-card"><strong><u><%= events[j].title%></strong></u></a></li>
							<p><%= events[j].description%></p>
						<% } %>
					</ul>
					<% } %>
				</div>
				<div class="tab-pane" id="news">
					<h3>News</h3>
					<% var news = [];
					for (var i=0; i<newsInfo.length; i++) {
						if (thisPark.parkCode == newsInfo[i].parkCode) {
							news.push(newsInfo[i]);
						}
					}

					if (news.length == 0) { %>
						<p>There are currently no news releases for this park.</p>
					<% }
					else { %>
					<ul>
						<% for (var j=0; j<news.length; j++) { %>
							<li><a href="<%=encodeURI(news[j].url)%>" class="custom-card"><strong><u><%= news[j].title%></strong></u></a></li>
							<p><%= news[j].abstract%></p>
						<% } %>
					</ul>
					<% } %>
				</div>
				<div class="tab-pane" id="lesson">
					<h3>Lesson Plans</h3>
					<% var lessons = [];
					for (var i=0; i<lessonInfo.length; i++) {
						if (thisPark.parkCode == lessonInfo[i].parks) {
							lessons.push(lessonInfo[i]);
						}
					}

					if (lessons.length == 0) { %>
						<p>There are currently no lesson plans for this park.</p>
					<% }
					else { %>
					<ul>
						<% for (var j=0; j<lessons.length; j++) { %>
							<li><a href="<%=encodeURI(lessons[j].url)%>" class="custom-card"><strong><u><%= lessons[j].title%></strong></u></a></li>
							<p><%= lessons[j].questionobjective%></p>
						<% } %>
					</ul>
					<% } %>

					<h3>People</h3>
					<% var people = [];
					for (var i=0; i<peopleInfo.length; i++) {
						if (JSON.stringify(peopleInfo[i]).includes(thisPark.name)) {
							people.push(peopleInfo[i]);
						}
						else if (JSON.stringify(thisPark).includes(peopleInfo[i].title)) {
							people.push(peopleInfo[i]);
						}
					}

					if (people.length == 0) { %>
						<p>There is currently no information about related people for this park.</p>
					<% }
					else { %>
					<ul>
						<% for (var j=0; j<people.length; j++) { %>
							<li><a href="<%=encodeURI(people[j].url)%>" class="custom-card"><strong><u><%= people[j].title%></strong></u></a></li>
							<p><%= people[j].listingdescription%></p>
						<% } %>
					</ul>
					<% } %>

					<h3>Places</h3>
					<% var places = [];
					for (var i=0; i<placeInfo.length; i++) {
						if (JSON.stringify(placeInfo[i]).includes(thisPark.name)) {
							places.push(placeInfo[i]);
						}
					}

					if (places.length == 0) { %>
						<p>There is currently no information about related places for this park.</p>
					<% }
					else { %>
					<ul>
						<% for (var j=0; j<places.length; j++) { %>
							<li><a href="<%=encodeURI(places[j].url)%>" class="custom-card"><strong><u><%= places[j].title%></strong></u></a></li>
							<p><%= places[j].listingdescription%></p>
						<% } %>
					</ul>
					<% } %>
				</div>
			</div>
		</div>

		<!-- Accordion collapse -->
		<div class="container text-muted">
			<div class="accordion" id="accordionExample">
			  <div class="card">
			    <div class="card-header" id="headingOne">
			      <h2 class="mb-0">
			        <button class="custom-card btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
			          <strong>Visitor Centers</strong>
			        </button>
			      </h2>
			    </div>

			    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
						<div class="card-body">
							<%
							var visitorCenters = [];
							for (var i=0; i<visitorInfo.length; i++) {
								if (thisPark.parkCode == visitorInfo[i].parkCode) {
									visitorCenters.push(visitorInfo[i]);
								}
							}

							if (visitorCenters.length == 0) { %>
								There is currently no information about visitor centers for this park.
							<% }
							else { %>
								<ul>
								<% for (var j=0; j<visitorCenters.length; j++) { %>
								<% if (visitorCenters[j].url == "") { %>
									<li>
										<strong><%= visitorCenters[j].name%></a></strong>
									</li>
									<p><%= visitorCenters[j].description%></p>
								<% }
								else { %>
									<li><a href="<%=encodeURI(visitorCenters[j].url)%>" class="custom-card">
										<u><strong><%= visitorCenters[j].name%></a></strong></u>
									</li>
									<p><%= visitorInfo[j].description%></p>
								<% }
								} %>
								</ul>
							<% } %>
			      </div>
			    </div>
			  </div>
			  <div class="card">
			    <div class="card-header" id="headingTwo">
			      <h2 class="mb-0">
			        <button class="btn btn-link collapsed custom-card" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
			          <strong>Campgrounds</strong>
			        </button>
			      </h2>
			    </div>
			    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
			      <div class="card-body">
							<%
							var camps = [];
							for (var i=0; i<campInfo.length; i++) {
								if (thisPark.parkCode == campInfo[i].parkCode) {
									camps.push(campInfo[i]);
								}
							}

							if (camps.length == 0) { %>
								There is currently no information about campgrounds for this park.
							<% }
							else { %>
								<ul>
								<% for (var j=0; j<camps.length; j++) { %>
								<% if (camps[j].regulationsurl == "") { %>
									<li>
										<strong><%= camps[j].name%></a></strong>
									</li>
									<p><%= camps[j].description%></p>
								<% }
								else { %>
									<li><a href="<%=encodeURI(camps[j].regulationsurl)%>" class="custom-card">
										<u><strong><%= camps[j].name%></a></strong></u>
									</li>
									<p><%= camps[j].description%></p>
								<% }
								} %>
								</ul>
							<% } %>
			      </div>
			    </div>
			  </div>
			</div>
		</div>

		<!-- Back to top -->
		<div class="container py-5">
			<div class="row justify-content-center">
				<a href="#top">
					<button type="button" class="btn btn-outline-dark">Back to top</button>
				</a>
			</div>
		</div>


		<!-- JQuery, Tether, Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


		<!-- Javascript (put at end of body so page can load first)-->
		<!--<script>
			alert("Hello");
		</script>-->

		<!-- Linking to JS file -->
		<!--<script src="../scripts/main.js"></script>-->

		<!-- Inline JS -->
		<!--<li><a onclick="alert('Hello!');" href="search.html">Alert</a></li>-->

		<script>
			S(function () {
				S('[data-toggle="tooltip"]').tooltip();
			});
		</script>
	</body>
</html>
