<!DOCTYPE html>
<html>
	<head>
		<title>NPS Kiosk: Find by State</title>

    <style>
			input[type=text] {
				width: 100px;
			}

      .card-img-top {
        max-height: 160px;
        min-height: 160px;
        object-fit: cover;
      }

      .top-buffer {
        margin-top: 20px;
      }

      a.custom-card,
      a.custom-card:hover {
        color: inherit;
      }
    </style>

    <!-- Do this for ajax (state-results.js in assets) -->
    <!-- <script src="/../../assets/state-results.js"></script> -->

		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	</head>

	<body>
    <div id="top" />

		<% include partials/nav.ejs %>

    <div class="container">
      <div class="row">
        <div class="col py-3 my-3">
          <h2 class="display-4">Find a park by state: <%= data.state %></h2>

					<!-- Dropdown search functional -->
					<div class="input-group">
						<form id="selectState" method="POST" action="/find-by-state">
							<input type="text" name="state" list="stateNames">
								<datalist id="stateNames">
                  <option value="AL">Alabama</option>
									<option value="AK">Alaska</option>
									<option value="AZ">Arizona</option>
									<option value="AR">Arkansas</option>
									<option value="CA">California</option>
									<option value="CO">Colorado</option>
									<option value="CT">Connecticut</option>
									<option value="DE">Delaware</option>
									<option value="DC">District Of Columbia</option>
									<option value="FL">Florida</option>
									<option value="GA">Georgia</option>
									<option value="HI">Hawaii</option>
									<option value="ID">Idaho</option>
									<option value="IL">Illinois</option>
									<option value="IN">Indiana</option>
									<option value="IA">Iowa</option>
									<option value="KS">Kansas</option>
									<option value="KY">Kentucky</option>
									<option value="LA">Louisiana</option>
									<option value="ME">Maine</option>
									<option value="MD">Maryland</option>
									<option value="MA">Massachusetts</option>
									<option value="MI">Michigan</option>
									<option value="MN">Minnesota</option>
									<option value="MS">Mississippi</option>
									<option value="MO">Missouri</option>
									<option value="MT">Montana</option>
									<option value="NE">Nebraska</option>
									<option value="NV">Nevada</option>
									<option value="NH">New Hampshire</option>
									<option value="NJ">New Jersey</option>
									<option value="NM">New Mexico</option>
									<option value="NY">New York</option>
									<option value="NC">North Carolina</option>
									<option value="ND">North Dakota</option>
									<option value="OH">Ohio</option>
									<option value="OK">Oklahoma</option>
									<option value="OR">Oregon</option>
									<option value="PA">Pennsylvania</option>
									<option value="RI">Rhode Island</option>
									<option value="SC">South Carolina</option>
									<option value="SD">South Dakota</option>
									<option value="TN">Tennessee</option>
									<option value="TX">Texas</option>
									<option value="UT">Utah</option>
									<option value="VT">Vermont</option>
									<option value="VA">Virginia</option>
									<option value="WA">Washington</option>
									<option value="WV">West Virginia</option>
									<option value="WI">Wisconsin</option>
									<option value="WY">Wyoming</option>
								</datalist>
							<!-- <input type="submit" value="Search" /> -->
							<button class="btn btn-outline-secondary" type="submit">Search</button>
						</form>
					</div>

        </div>
      </div>
		</div>

		<div class="container text-muted">
      <% var matches = []; %>
      <% for (var i=0; i < parkInfo.length; i++) {
          if (parkInfo[i].states == data.state) {
            matches.push(parkInfo[i]);
          }
      } %>

      <% var col = 0; %>
      <% var counter = 0; %>
      <% for (var i=0; i < (matches.length/4) + 1; i++) { %>
        <div class="row top-buffer">
          <% if (matches.length == 0) { %>
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch">
              <p class="lead">No results found.</p>
            </div>
          <% } %>
          <% for (var j=0; j < 4; j++) {
            counter++;
            if (counter > matches.length) break;
          %>
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch">
						<a href="/parks/<%=encodeURI(matches[counter-1].parkCode)%>" class="custom-card d-flex align-items-stretch">
            	<div class="card">
                <img src="<%=encodeURI(matches[counter-1].images[0].url)%>" class="card-img-top img-fluid" height="250" id="cardImage"/>
                <div class="card-body">
                  <h3 class="card-title"><%= matches[counter-1].fullName %></h3>
                  <p> <%= matches[counter-1].addresses[0].city %>, <%= matches[counter-1].addresses[0].stateCode %></p>
                </div>
              </div>
						</a>
          </div>
        <% } %>
        </div>
      <% } %>

		</div>

    <div class="container py-5">
      <div class="row justify-content-center">
        <a href="#top">
          <button type="button" class="btn btn-outline-dark">Back to top</button>
        </a>
      </div>
    </div>

		<!-- JQuery, Tether, Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<script>
			S(function () {
				S('[data-toggle="tooltip"]').tooltip();
			});
		</script>
	</body>
</html>
